*{
	margin:0;
	padding:0;
	outline: 0;
	border:0;
}

body {
	overflow: scroll;
}
.page1 {
	width:960px;
	height:auto;
	background:#eaeaea;
	opacity: 0.8;
	margin:0 auto;
	color:white;
}